@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
    padding: 20px;
}
div {
    padding: 20px;
}
nav {
    padding: 20px;
}
aside {
    padding: 20px;
}

article {
    padding: 20px;
}

footer {
    padding: 20px;
}

section {
    padding: 20px;
}

.right {
    text-align: right;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.5em;
  margin: 2em;
}

p {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
}

.mybackground {
  background-image: url("../images/Odessa_emilypayne.png");
  width: 600px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 600px 800px;
  color: white;
}
.slogan {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
}
a {
  text-decoration: none;
}
