@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
    padding: 20px;
}
div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  float: left;
}

nav {
  float: left;
} 

nav a { 
  text-decoration: none;
  color: black;
  margin: 1.8em;
  padding: 5px;
  display: inline-block;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 20%;
}

aside {
    padding: 20px;
    float: right;
}

article {
    padding: 20px;
    float: left;
}

footer {
    padding: 20px;
}

section {
    padding: 20px;
}

.right {
    text-align: right;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.5em;
  margin: 2em;
}

p {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.mybackground {
  background-image: url("../images/Odessa_emilypayne.png");
  width: 600px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 600px 800px;
  color: white;
}
.slogan {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
}
a {
  text-decoration: none;
}
